<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<style>
		.top-bar { width: 100%; height:2px; border-top: 4px solid #b19292; border-bottom: 1px solid #b19292; }
		.copyright { margin-bottom: 0;}
		.print-page p { width: 49.5%; display: inline-block; margin-top: 0; }
		.copyright, .print-page p, .copyright { font-size: 11px; color: #b19292; }
	</style>
</head>
<body style="border:0; margin: 0;">
	<div id="footer">
		
		<div class="top-bar"></div>
	</div>
</body>
</html>