#main_body {
  min-height: 710px;
}

.mini-content .employee-bg {
  height: 360px;
}

.employee-bg {
  background: #f4f9ff;
}

.employee_information .mini-footer {
  min-height: 45px;
  border-radius: 0 0 13px 13px;
}

.employee_information {
  padding: 0;
}

.employee_information .mini-content {
  height: 170px;
  min-height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.mini-content.employee-bg {
  height: 170px;
}

.mini-footer.employee-bg {
  height: 45px;
}

.mini-content.employee-bg .row .text-center .employee-body-link {
  margin-top: 100px;
}

#status h6,
.employee_information h6 {
  margin-top: 2px;
  margin-bottom: 0;
}

#status .control-label,
.employee_information .control-label {
  padding-top: 0;
}

.job-description {
  padding-top: 35px;
}

#employee_tab .active a {
  color: #fff;
}

.tab-content .tab-pane {
  min-height: 366px;
}

.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: #fcfdfd;
}

.ui-widget-header {
  border: 1px solid #6e298d;
  background: #6e298d;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  background: 0;
  color: #000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #FFFFFF;
  background: #f5f8f9;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background: #6e298d;
  font-weight: bold;
  color: #FFF;
}

/*
Keep nSync with user.css
*/
.ui-datepicker-calendar .ui-state-default,
.ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border: 1px solid #5d6d78;
  background: #BEC5C9;
}

.ui-state-hover {
  background-color: #6e298d;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #6e298d;
  color: #fff;
}

.nav-tabs > li > a:hover {
  border-color: #fff #fff #fff;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
  text-decoration: none;
}

.employee-dashboard-modal {
  width: 1170px;
  text-align: justify;
}

.employee-dashboard-modal-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-header {
  text-align: center;
}